# v=vars
# f=vars_files
# e=--extra-vars
# a=group_vars/all
# g=group_vars/specific
a     => {{ a }}
ae    => {{ ae }}
aev   => {{ aev }}
ag    => {{ ag }}
age   => {{ age }}
agev  => {{ agev }}
agv   => {{ agv }}
av    => {{ av }}
e     => {{ e }}
ev    => {{ ev }}
f     => {{ f }}
fa    => {{ fa }}
fae   => {{ fae }}
faev  => {{ faev }}
fag   => {{ fag }}
fage  => {{ fage }}
fagev => {{ fagev }}
fagv  => {{ fagv }}
fav   => {{ fav }}
fe    => {{ fe }}
fev   => {{ fev }}
fg    => {{ fg }}
fge   => {{ fge }}
fgev  => {{ fgev }}
fgv   => {{ fgv }}
fv    => {{ fv }}
g     => {{ g }}
ge    => {{ ge }}
gev   => {{ gev }}
gv    => {{ gv }}
v     => {{ v }}
